<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">Meine NavBar</a>
    <a class="btn btn-primary" href="{{ path('security_register') }}">Registrieren</a>
    <a class="btn btn-primary" href="{{ path('security_login') }}">Einloggen</a>
</nav>
{% include "flash.html.twig" %}